body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 0.5rem;
}

input, button {
    margin-top: 0.5rem;
    padding: 0.5rem;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#itinerary {
    margin-top: 2rem;
}

#itinerary-content {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
}

#autocomplete-list {
    position: absolute;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    background-color: white;
    z-index: 1000;
}
.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}
.autocomplete-item:hover {
    background-color: #ddd;
}